*.pyc
*.pyo
*.mo
__pycache__/
.pytest_cache/
.mypy_cache/
.cache/
.gitlab-ci-local/
env/
venv/
*.env
.venv
.idea
.vscode
reports/
node_modules/
front/dist/
front/vite.manifest.json
*-debug.log*
*-error.log*
**/config.js
**/color-shades.scss
**/translations.json
*.zip
