# vim: set ft=sh:
export DJANGO_DEBUG=true
export DJANGO_VITE_DEV_MODE=true
export DJANGO_DB_TYPE=sqlite
#export DJANGO_PORT=8000
# Mapbox
export MAPBOX_PUBLIC_KEY=XXX
# OIDC
#export OAUTH2_LOG_LEVEL=ERROR
#export OIDC_RP_CLIENT_ID=XXX
#export OIDC_RP_CLIENT_SECRET=XXX
# Docker Compose
# Set those if `id` command list uid and gid different than 1000
#export UID=
#export GID=
