<!DOCTYPE html>{% load i18n djvite %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{% translate 'Myapp' %}</title>
    {% if DEV_MODE %}
    <script type="module">
      import { injectIntoGlobalHook } from "/@react-refresh"
      injectIntoGlobalHook(window)
      window.$RefreshReg$ = () => {}
      window.$RefreshSig$ = () => type => type
      window.__vite_plugin_react_preamble_installed__ = true
    </script>
    {% endif %}
    {% vite hotreload '/front/src/index.jsx' %}
  </head>
  <body>{% block body %}
    <div id="app"></div>
  {% endblock %}</body>
</html>

