@use "./color-shades" as *;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem; // 16px
  height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-clip: padding-box;
  background-color: $grey-medium;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: $secondary;
  border-radius: 8px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
