@use "@scss/color-shades" as *;
.drawer-header {
  border-bottom: 1px solid $white;
  color: $white;
  padding: 0 !important;
  > .MuiListItem-root, /* stylelint-disable-line selector-class-pattern */
  > .MuiListItem-root > .MuiButtonBase-root { /* stylelint-disable-line selector-class-pattern */
    height: 100%;
  }
  &:hover {
    color: $secondary;
    .app-menu-item-icon {
      color: $secondary;
    }
  }
}
.app-menu-item {
  .button.selected {
    background-color: $secondary-light !important;
  }
  .app-menu-item-icon {
    .selected {
      color: $secondary !important;
    }
    > * {
      opacity: 1 !important;
      color: $white;
    }
  }
  .app-menu-item-title {
    color: $white;
    .selected {
      color: $secondary !important;
    }
  }
  &:hover {
    background-color: $secondary-light;
    .app-menu-item-icon > *,
    .app-menu-item-title {
      color: $secondary;
    }
  }
}
